.App {
  text-align: center;
}

.spin {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  font-size: 3rem;
  -webkit-animation: spin 1.9s infinite linear;
  -moz-animation: spin 1.9s infinite linear;
  -o-animation: spin 1.9s infinite linear;
  animation: spin 1.9s infinite linear;
  color: gray;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

th {
  text-align: center;
}

/* Remove focus selection */
.btn:focus {
  outline: none;
}
.btn:hover {
  outline: 0 !important;
}
